*
{
    font-family: sans-serif,arial;
}

body
{
    background: #FFFFFF;
    color: #FFF;  
}

#header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #007da8;
    z-index: 1000;
    font-size: 100%;
}

#logo
{
 position: fixed;
 top: 0;
 left: 3%;
 z-index: 3000;
 color: #FFF;
 font-size: 250%;
 font-family: 'Pacifico', cursive;   
}


#searchForm
{
    position: relative;
    left: 40%;
    top: 20%;
    width: 25%;
    float: left;
}

#searchField
{
    width: 80%;
}

#searchButton
{
    width: 18%;
}



#customerForm
{
    
    width: 100%;
    top: -30%;
    left: 125%;
    position: absolute;
    height: 80px;
    float: right;
    text-align: center;
    cursor: pointer;
}

table
{


}

td
{
    padding: 12px;
}

td:hover
{
    opacity: 0.7;
}

#trending
{
    border: ;
    position: absolute;
    width: 30%;
    height: 500px;
    top: 16%;
    left: 69%;
    overflow-y: scroll;
    box-shadow: 4px 4px 0px 0px #C0C0C0;
}

.trendingItem
{
    background: whitesmoke;
    position: relative;
    text-align: center;
    width: 100%;
    height: 50px;
    color: #007da8;
    border-bottom: 1px dashed #007da8;
    font-size: 80%;
}

.trendingItem:hover
{
    background: #007da8;
    color: white;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

.dood
{
    color: #007da8;
    font-size: 250%;
    font-family: 'Bangers',cursive;
}

#dood1
{
    position: absolute;
    top: 16%;
    left: 2%;
}

#dood2
{
    position: absolute;
    top: 56%;
    left: 46%;
    transform: rotate(90deg);
    color: #F64C72;
}

#dood3
{
    position: absolute;
    top: 52%;
    left: -11%;
    transform: rotate(270deg);
    color: orange;
}

#dood4
{
    position: absolute;
    top: 25%;
    left: 7%;
    color: #DAAD86;
}

#dood5
{
    position: absolute;
    top: 25%;
    left: 14%;
    font-size:400%;
    color: #5CDB95;
}

#dood6
{
    position: absolute;
    top: 43%;
    left: 4%;
    font-size:450%;
    transform: rotate(270deg);
    color: #FC4445;
}

#dood7
{
    position: absolute;
    top: 25%;
    left: 49%;
    font-size:220%;
    color: #501B1D;
}

#dood8
{
    position: absolute;
    top: 25%;
    left: 31%;
    font-size:320%;
    color: #FFA700;
}

#dood9
{
    position: absolute;
    top: 46%;
    left: 14%;
    font-size:320%;
}

#dood10
{
    position: absolute;
    top: 36%;
    left: 14%;
    font-size:320%;
    color: #272727;
}

#dood11
{
    position: absolute;
    top: 37%;
    left: 25%;
    font-size:430%;
    color: #8265A7;
}

#dood12
{
    position: absolute;
    top: 65%;
    left: 7%;
    font-size:750%;
    text-decoration: line-through;
    color: #46344E;
}

#dood13
{
    position: absolute;
    top: 85%;
    left: 2%;
    font-size:200%;
    color: #53900F;
}

#dood14
{
    position: absolute;
    left: 15%;
    top: 29%;
}

#dood15
{
    position: absolute;
    left: 44%;
    top: 36%;
    font-size: 350%;
    color: #812BB2;
}

#dood16
{
    position: absolute;
    left: 38%;
    top: 64%;
    font-size: 700%;
}

line
{
    text-decoration: line-through;
    font-size:200%;
    font-family: 'Bangers',cursive;
}